<section class="section ">
    <div class="align">
        <div class="img-container">
            <img src="../../assets/logos/poelogo-white.png" alt="logo">
        </div>
        <div class="links">
            <div class="footer-top">
                <a href="/privacy-policy" >Privacy Policy</a>
                <a href="/terms-of-use" >Terms of Use</a>
                <a href="/cookie">Cookies Policy</a>
            </div>
            <div class="footer-btm">
                <p>Powered by <a href="https://credvest.com/" target ="_blank">Credvest</a></p>
                
              </div>
        </div>
    </div>
</section>