<app-header />
<section class="contact">
    <div class="align">
      <h1 class="title">Contact Us</h1>
      <div class="content">
          <div class="left">
            <app-contact-us />
          </div>
          <div class="map">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15554.245515791217!2d77.7437582!3d12.9358886!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae1300124e75a7%3A0x79d4939d322ff036!2sPoetry%20of%20Earth!5e0!3m2!1sen!2sin!4v1711411670570!5m2!1sen!2sin"
              width="100%"
              height="450"
              style="border: 0"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"
            ></iframe>
            <p>Address : <br/>
              WPPV+9G2, Devasthanagalu, Varthur, Bengaluru, Karnataka 560087</p>
              <a href="https://maps.app.goo.gl/6hNDL3xCXp4NZBwN8" target="_blank">View in Map</a>
          </div>
      </div>
    </div>
  </section>
