<!-- home.component.html -->
<app-header />
<section class="section s1" id="s1">
  <app-auto-changing-images />
    <div class="content">
    <div class="left">
      <img class="logo" src="../../assets/logos/logo.png" alt="logo" />
    </div>
    <!-- <div class="seperator"></div> -->

    <div class="right">
      <p class="small-hero">INNOVATION</p>
      <h2 class="hero-text">
        One of a kind <br />
        Eco Luxury Living 
      </h2>
    </div>
</div>
</section>
<section class="section s2" id="s2">
  <div class="align">
    <div class="left">
      <h1 class="title">Luxury in every detail</h1>
      <p class="desc">
        Welcome to Earth Sounds, a world where enchantment awaits you! Live in a
        community where native trees, meandering paths, and tranquil ponds weave
        a story of nature's revival. Situated at the heart of Varthur Main Road,
        these eco-luxury residences are the epitome of nature-infused luxury!
      </p>
      <button class="contact-btn">Contact</button>
    </div>
    <div class="right">
      <img class="image" src="../../assets/images/s2-imh.jpg" alt="img" />
    </div>
  </div>
</section>

<section class="section s3" id="s3">
  <div class="align">
    <h1 class="page-title">Proposed Floor Plans</h1>
    <app-plan-carousel />
  </div>
</section>
<section class="section s4" id="s4">
  <div class="align">
    <h1 class="title">Proposed MASTER PLANS </h1>
    <img
      class="master-plan-img"
      src="../../assets/images/master_plan.png"
      alt="master plan"
    />
    <p class="list-title">LEGEND</p>
    <ol>
      <li *ngFor="let item of masterPlan">{{ item }}</li>
    </ol>
  </div>
</section>
<section class="section s5" id="s5">
  <div class="align">
    <h1 class="title">Amenities</h1>
    <p class="desc">
      Your eco-luxury home comes with a 25,000 sq ft Clubhouse that offers 50+
      world-class amenities like
    </p>
    <div class="amenities-content">
      <div class="tile" *ngFor="let item of amenities">
        <div class="tile-img-container">
          <img
            class="tile-icon"
            src="../../assets/icons/amenities/{{ item.icon }}"
            alt="{{ item.icon }}"
          />
        </div>
        <p class="tile-title">{{ item.title }}</p>
      </div>
    </div>
  </div>
</section>
<section class="section s6" id="s6">
  <div class="align">
    <h1 class="title">ULTIMATE CONVENIENCE</h1>
    <p class="desc">
      Earth Sounds lies at the heart of Varthur Main Road, offering easy access
      to everything
    </p>
    <div class="content">
      <div class="map-div">
        <img class="map" src="../../assets/images/map.png" alt="map" />
      </div>
      <app-accordion />
    </div>
  </div>
</section>
<section class="section s7" id="s7">
  <div class="align">
    <h1 class="title">Contact Us</h1>
    <div class="content">
        <div class="left">
          <app-contact-us />
        </div>
        <div class="map">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15554.245515791217!2d77.7437582!3d12.9358886!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae1300124e75a7%3A0x79d4939d322ff036!2sPoetry%20of%20Earth!5e0!3m2!1sen!2sin!4v1711411670570!5m2!1sen!2sin"
            width="100%"
            height="450"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
          <p>Address : <br/>
            WPPV+9G2, Devasthanagalu, Varthur, Bengaluru, Karnataka 560087</p>
            <a href="">View in Map</a>
        </div>
    </div>
  </div>
</section>
<app-footer />